doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description', content='Demo webapp written using koa with focus on security and extensibility.')
        meta(name='author', content='Suhas Karanth')
        title= title
        block styles
            link(rel='stylesheet', href='/css/style.css')
    body


        //- We can hide the dom until we load it completely using vue. Show loading animation in the meantime
        //- http://tobiasahlin.com/spinkit/
        #loading-spinner.spinner
            .rect1
            .rect2
            .rect3
            .rect4
            .rect5

        #app.hidden
            if enableVue === true
                p#vue-data-text.hidden
                    |!{vueData == null ? '{}' : JSON.stringify(vueData)}

            block content

        block scripts
            //- To mimic $() calls on document load
            script(src='/js/util/dom_ready.js')

            if enableVue === true
                //- Different versions of vue depending on environment
                if env && env === 'development'
                    script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js')
                else
                    script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js')

                //- Parse string in vue-data-text and load into global variable(window)
                script(src='/js/util/load_vue_data.js')