
extends layout

append content

    #login
        //- Keep this as part of the layout?
        div(v-if='message')
            p {{ message }}
        form#form-login(method='post' @submit.prevent)
            h2 Hello!
            h6 Please Login To Your Account
            div
                label Email
                input(type='email', id='email', name='email' v-model='loginForm.email')
            div
                label Password
                input(type='password', id='password', name='password' v-model='loginForm.password')
            div
                button#btn-login(type='submit' @click='loginSubmit').button-sign-in
                    span.glyphicon.glyphicon-lock
                    | Sign In
            .clearfix
            hr
            .btm-links
                #create-account
                    a(href='/register') Create An Account
            .clearfix

    include modals/alert

append scripts
    scripts(src='//cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js')
    script(src='/js/util/http_helper.js')
    script(src='/js/views/login.js')