
extends layout

block content

    #login.center-vertical
        form#form-login.well(method='post')
            h2 Hello!
            h6 Please Login To Your Account
            input(type='hidden', name='_csrf', value=csrf)
            .form-group
                label Email
                input.form-control(type='email', id='email', name='email', required, data-parsley-trigger='blur')
            .form-group
                label Password
                input.form-control(type='password', id='password', name='password', required, data-parsley-trigger='blur')
            .controls
                button#btn-login(type='submit').btn.btn-primary.button-sign-in
                    span.glyphicon.glyphicon-lock
                    | Sign In
            .clearfix
            hr
            .btm-links
                #create-account
                    a(href='/register') Create An Account
            .clearfix

    include modals/alert
    include modals/lost-password

append scripts
    script(src='/vendor/parsley.min.js')
    script(src='/js/views/login.js')
    script(src='/js/util/post_office.js')
    script(src='/js/util/notifier.js')