
extends layout

//- http://www.the-art-of-web.com/javascript/validate-password/
block content

    include account
    include modals/alert

append scripts
    script(src='/vendor/jquery.form.min.js')
    script(src='/js/views/register.js')
    script(src='/js/controllers/registerController.js')
    script(src='/js/form-validators/accountValidator.js')